.nextflow*
work*/
data/
results/
.DS_Store
testing/
testing*
*.pyc

.local
.config
.bash_history

R_sessionInfo.log

.vscode/
profile.svg
reads/*

results*

tmp/

HSV.bed
HSV.bed_BU
HSV.gtf
HSV17_from_gff.bed
HSV17_genome_files/17_No_repeats.fasta
HSV17_genome_files/17_No_repeats.fasta.fai
HSV17_genome_files/17_No_repeats.gff
references/Homo_sapiens/UCSC/hg38/Annotation/Genes/genes.bed
scale-factors.csv
samplesheet.csv
samplesheet_just2026.csv~
samplesheet_just2026.csv
samplesheet_33K.csv
nextflow.config_BU


igv_session_test.xml
KAT_PIP_sample_sheet.csv
.nfs0000000ad7d251230000038e
