profiles {
  singularity {
    singularity.enabled = true
    // Use params.psp_sif when provided at runtime
    process.container = params.psp_sif
  }
  docker {
    docker.enabled = true
    process.container = params.psp_sif
  }
}

params {
  psp_sif = '/path/to/peaksignalprofiler.sif'
  psp_dir = '/path/to/peak-signal-profiler'
}
